body {
    margin:0 auto;
    padding:0;
    overflow-x:hidden;
    background:#eee;
    color:#225;
    width:960px;
    font:normal 12px/20px 'Helvetica Neue', sans-serif;
}

rect.bg {
    fill:#fff;
}

p {
    padding:20px;
    text-align:center;
    margin:0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
    text-align:center;
}

.shot {
    fill:red;
}

p a {
    color:#225;
}

path {
    fill:#111;
}

.hour path {
    stroke-width:1;
    stroke:#aaa;
    stroke-opacity:0.2;
}

text {
    font-family:monospace;
    fill:#222;
}
